:root {
    --font-family: roboto;
    --font-size: 20px;
    --next-color: black;
    --next-btn-color: black;
    --start-btn-color: black;
    --active-nav-color: black;
    --inactive-nav-color: lightblue;
    --title-head: 50px;
}

.first-component {
    font-family: var(--font-family);
}

.body-cont {
    display: flex;
    justify-content: center;
}

.jo {
    display: flex;
}

.first-tit {
    font-size: var(--title-head);
    font-weight: bold;
    padding-bottom: 30px;
}

.first-body {
    font-size: var(--font-size);
    color: rgb(159, 154, 154);
}

.next {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.to {
    font-size: var(--font-size);
    font-family: var(--font-family);
    text-decoration: none;
    padding-top: 50px;
    color: var(--next-btn-color);
    font-weight: bold;
}

.circle {
    background: var(--inactive-nav-color);
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

.icon {
    display: flex;
}

.circle-cont {
    padding: 3px;
}

.page1nav {
    background: var(--active-nav-color);
    border-radius: 50%;
    width: 10px;
    height: 10px;
    border-radius: 3px;
}

.icon {
    padding-top: 50px;
    padding-right: 200px;
}

.page2nav {
    background: var(--active-nav-color);
    border-radius: 50%;
    width: 10px;
    height: 10px;
    border-radius: 3px;
}

.ba {
    background: var(--inactive-nav-color);
    border-radius: 50%;
    width: 10px;
    height: 10px;
    border-radius: 3px;
}

.page3nav {
    background: var(--active-nav-color);
    border-radius: 50%;
    width: 10px;
    height: 10px;
    border-radius: 3px;
}