/* .first-component {
    font-family: roboto;
    padding: 0px 0px 50px 0px;
}

.body-cont {
    display: flex;
    justify-content: center;
}

.jo {
    display: flex;
}

.first-tit {
    font-size: 50px;
    padding-bottom: 30px;
    font-weight: bold;
}

.first-body {
    font-size: 20px;
    color: rgb(159, 154, 154);
} */