#completion {
    width: 20%;
    height: 20%;
    margin: auto;
    display: block;
}

@keyframes hideshow {
    0% {
        opacity: 0.2;
    }
    10% {
        opacity: 0.2;
    }
    15% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}

#cirkel {
    animation: hideshow 0.4s ease;
}

#check {
    animation: hideshow 0.4s ease;
}

#stars {
    animation: hideshow 1.0s ease;
    opacity: 0.9;
}

@keyframes hideshow {
    0% {
        transform: scale(0.2);
        transform-origin: initial;
    }
    100% {
        transform: scale(1.0);
        transform-origin: initial;
    }
}

@keyframes draaien {
    0% {
        transform: rotate(40deg);
        transform-origin: initial;
    }
    100% {
        transform: scale(0deg);
        transform-origin: initial;
    }
}

#check {
    animation: draaien 0.8s ease;
}

@keyframes transparant {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#check {
    animation: transparant 2s;
}

.st0 {
    fill: #51BBA0;
    fill-opacity: 0.4;
}

.st1 {
    fill: #51BBA0;
    fill-opacity: 0.1;
}

.st2 {
    fill: #51BBA0;
}